<ol class="page-header">
  <li><%= @team.name %> </li>
  <li><%= "(#{@team.wins} - #{@team.losses}), " %></li>
  <li><%= link_to @team.league.name, league_path(@team.league) %></li>
  <% if current_user.try(:id) == @team.user_id %>

  <% end %>
</ol>
<p><%= link_to "Edit Team", edit_team_path(@team) %> | <%= link_to "Add Player to Team", new_team_player_path(@team) %></p>
<hr>
<div class="team-stat-table three">
  <h3>Batting:</h3>
  <table>
    <tr>
      <td>Runs:</td>
      <td><%= @team.runs_scored %></td>
    </tr>
    <tr>
      <td>Average:</td>
      <td><%= @team.batting_average_formatted %></td>
    </tr>
    <tr>
      <td>Homeruns:</td>
      <td><%= @team.homeruns %></td>
    </tr>
    <tr>
      <td>Triples:</td>
      <td><%= @team.triples %></td>
    </tr>
    <tr>
      <td>Doubles:</td>
      <td><%= @team.doubles %></td>
    </tr>
    <tr>
      <td>Singles:</td>
      <td><%= @team.singles %></td>
    </tr>
  </table>

  <h3>Pitching:</h3>
  <table>
    <tr>
      <td>ERA:</td>
      <td><%= @team.era %></td>
    </tr>
    <tr>
      <td>Strikeouts:</td>
      <td><%= @team.strikeouts_thrown %></td>
    </tr>
  </table>

  <h3>Fielding:</h3>
  <table>
    <tr>
      <td>Errors:</td>
      <td><%= @team.err_count %></td>
    </tr>
    <tr>
      <td>Fielding %:</td>
      <td><%= @team.field_percentage %></td>
    </tr>
  </table>
  <br>
  <%= render "partials/scores", games: @team.games.last(4) %>
</div>
<div class="team-roster nine">
<!-- <h2>Roster:</h2> -->
  <span class="cards">
    <%= render "refills/cards", person: @team.user %>
    <% @team.players.each do |player| %>
      <%= render "refills/cards", person: player %>
    <% end %>
  </span>
</div>
