<h2>Change League Name or Commissioner:</h2>
<div class="four">
  <%= simple_form_for @league, method: :patch do |f| %>
    <%= f.input :name, required: true, label: "Name"  %>
    <%= f.label :commissioner %>
    <%= f.collection_select(:commissioner_id, @managers, :id, :user_name, prompt: true) %>
    <%= f.button :submit %>
  <% end %>
  <br><br>

  <h2>Drastic Measures:</h2>

  <% @league.teams.each do |team| %>
    <%= link_to "Boot #{team.name} from league", team_path(team), method: :delete %>
  <% end %>

  <%= link_to "Close down league", league_path(@league), method: :delete %>
  <br><br>
</div>
