<h1>Leagues Around Softball Sim</h1>
<ol>
  <% @games.each do |game| %>
    <li>
      <h2><%= link_to home_team.league.name, league_path(league.id) %></h2>
      <ul>
        <li><%= link_to game.home_team.name, team_path(game.home_team.id) %></li>
        <li><%= game.home_score %></li>
        <li><%= link_to game.away_team.name, team_path(game.away_team.id) %></li>
        <li><%= game.away_score %></li>
        <li><%= link_to "Box Score", game_path(game.id) %></li>
      </ul>
    </li>
  <% end %>
</ol>
