<ol class="page-header">
  <li><%= @league.name %> </li>
  <% if @league.champion %>
  <li> (Champion: <%= link_to @league.champion.try(:name), team_path(@league.champion) %>)</li>
  <% end %>
</ol>


<p>
  <%= "Commissioner: #{@league.commissioner.user_name}" %> | <%= link_to "Create a new team in #{@league.name}!", new_league_team_path(@league) %>
  <% if current_user.try(:id) == @league.commissioner_id %>
    | <%= link_to 'Edit', edit_league_path(@league) %>
  <% end %>
</p>

<hr>

<div class="standing-table twelve">
  <h1>Season Standings</h1>
  <table>
    <thead>
      <th>Team</th>
      <th>Manager</th>
      <th>Wins</th>
      <th>Losses</th>
    </thead>
    <% @standings.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.user.user_name %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
      </tr>
    <% end %>
  </table>
  <br>
</div>

<div class="league-stat-leaders nine">
  <h1>League Leaders</h1><hr>
  <h3>Home Runs:</h3><br>
  <span class="cards">
    <% @league.homerun_leaders.first(3).each do |player| %>
      <%= render "refills/cards", person: player %>
    <% end %>
  </span>
  <hr>

  <h3>Batting Average:</h3><br>
  <span class="cards">
    <% @league.batting_average_leaders.first(3).each do |player| %>
      <%= render "refills/cards", person: player %>
    <% end %>
  </span>
  <hr>

  <h3>ERA:</h3><br>
  <span class="cards">
    <% @league.era_leaders.first(3).each do |player| %>
      <%= render "refills/cards", person: player %>
    <% end %>
  </span>

  <h3>Field Percentage:</h3><br>
  <span class="cards">
    <% @league.fielding_leaders.first(3).each do |player| %>
      <%= render "refills/cards", person: player %>
    <% end %>
  </span>

</div>
<div class="three">
  <%= render "partials/scores", games: @league.games.last(10).reverse! %>
</div>
