<h1><%= @league.name %></h1>
<% if current_user.try(:id) == @league.commissioner_id %>
  <%= link_to 'Edit', edit_league_path(@league) %>
<% end %>
<h3><%= "Commissioner: #{@league.commissioner.user_name}" %></h3>
<p><%= link_to "Create a new team in #{@league.name}!", new_league_team_path(@league) %></p>

<h2>Standings<h2>
<table>
  <thead>
    <th>Team</th>
    <th>Wins</th>
    <th>Losses</th>
  </thead>
  <% @standings.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team) %></td>
      <td><%= team.wins %></td>
      <td><%= team.losses %></td>
    </tr>
  <% end %>
</table>
<h2>League Leaders</h2>
<h3>Hitting<h3>
  <% @league.homerun_leaders.first(5).each do |player| %>
  <ol>
    <li><h4><%= link_to player.name, team_player_path(player.team, player) %></h4></li>
    <li><%= link_to player.team.name, team_path(player.team) %></li>
    <li><%= "#{player.batting_average} AVG" %></li>
    <li><%= "#{player.homeruns} HR" %></li>
  </ol>
  <% end %>
<h3>Pitching<h3>
  <% @league.pitching_win_leaders.first(5).each do |player| %>
  <ol>
    <li><h4><%= link_to player.name, team_player_path(player.team, player) %></h4></li>
    <li><%= link_to player.team.name, team_path(player.team) %></li>
    <li><%= "#{player.era} ERA" %></li>
    <li><%= "#{player.wins} - #{player.losses}" %></li>
  </ol>
  <% end %>
