<ol class="page-header">
  <li><%= @league.name %> </li>
  <% if current_user.try(:id) == @league.commissioner_id %>
    <li><%= link_to 'Edit', edit_league_path(@league) %></li>
  <% end %>
</ol>

<ol class="page-header-sub">
  <li><%= "Commissioner: #{@league.commissioner.user_name}" %> </li>
  <li><%= link_to "Create a new team in #{@league.name}!", new_league_team_path(@league) %></li>
</ol>
<hr>

<div class="standing-table">
  <h1>Standings</h1>
  <table>
    <thead>
      <th>Team</th>
      <th>Manager</th>
      <th>Wins</th>
      <th>Losses</th>
    </thead>
    <% @standings.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td><%= team.user.user_name %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
      </tr>
    <% end %>
  </table>
  <br>
</div>

<div class="league-stat-leaders">
  <h1>League Leaders</h1><hr>
  <h3>Batting:</h3><br>
  <span class="cards">
    <% @league.homerun_leaders.first(6).each do |player| %>
      <%= render "refills/cards", person: player %>
    <% end %>
  </span>
  <hr>
<!-- </div>
 --><!-- <div class="stat-leaders"> -->
  <h3>Pitching:</h3><br>
  <span class="cards">
    <% @league.pitching_win_leaders.first(6).each do |player| %>
      <%= render "refills/cards", person: player %>
    <% end %>
  </span>
</div>
<div class="games-table">
  <%= render "partials/scores", games: @league.games.last(7) %>
</div>
