<ol class="page-header">
  <li><%= @player.name %> </li>
  <li>(<%= link_to @player.team.name, team_path(@player.team) %>, </li>
  <li><%= link_to @player.team.league.name, league_path(@player.team.league) %>)</li>
</ol>

<p><%= "Bat Contact: #{@player.batting_contact} | Bat Power: #{@player.batting_power} | Throw Accuracy: #{@player.pitching_accuracy} | Pitch Craft: #{@player.pitching_craftiness} | Fielding: #{@player.fielding} | Speed: #{@player.speed}" %>
<% if @player.team.user == current_user %>
| <%= link_to "Kick off team", team_player_path(@player.team, @player), method: :delete %>
<% end %>
</p>
<hr>

<div class="four"><img src=<%= @player.picture %> alt="Player Picture"></div>
<div class="four">
  <h3>Batting:</h3>
  <table>
    <tr>
      <td>Runs:</td>
      <td><%= @player.runs_scored %></td>
    </tr>
    <tr>
      <td>Batting Average:</td>
      <td><%= @player.batting_average_formatted %></td>
    </tr>
    <tr>
      <td>Home Runs:</td>
      <td><%= @player.homeruns %></td>
    </tr>
    <tr>
      <td>Triples:</td>
      <td><%= @player.triples %></td>
    </tr>
    <tr>
      <td>Doubles:</td>
      <td><%= @player.doubles %></td>
    </tr>
    <tr>
      <td>Singles:</td>
      <td><%= @player.singles %></td>
    </tr>
  </table>
</div>
<div class="four">
 <h3>Fielding:</h3>
  <table>
    <tr>
      <td>Errors:</td>
      <td><%= @player.err_count %></td>
    </tr>
    <tr>
      <td>Fielding %:</td>
      <td><%= @player.field_percentage %></td>
    </tr>
  </table>
  <br>
  <h3>Pitching:</h3>
  <table>
    <tr>
      <td>ERA:</td>
      <td><%= @player.era %></td>
    </tr>
    <tr>
      <td>Strikeouts:</td>
      <td><%= @player.strikeouts_thrown %></td>
    </tr>
  </table>
</div>
