<!DOCTYPE html>
<html>
<head>
  <title>Slackyard Softball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav class="nav-bar">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", user_session_path, method: "delete" %></li>
        <li><%= link_to "Edit account", edit_user_registration_path %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
<%= yield %>

</body>
</html>
